* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Zorgt ervoor dat padding en borders bij de totale breedte en hoogte worden opgeteld */
}

html, body {
    height: 100%; /* Zorg ervoor dat de hoogte op 100% is ingesteld */
    width: 100%; /* Zorg ervoor dat de breedte op 100% is ingesteld */
    overflow: hidden; /* Verberg scrollbalken */
}

.background {
    position: absolute; /* Zorg ervoor dat de achtergrond het volledige scherm bedekt */
    top: 0; /* Begin bij de bovenkant */
    left: 0; /* Begin bij de linkerkant */
    height: 100%; /* 100% van de hoogte */
    width: 100%; /* 100% van de breedte */
    background-image: url(Background.png);
    background-repeat: no-repeat; /* Geen herhaling van de achtergrondafbeelding */
    background-position: center; /* Centreer de achtergrondafbeelding */
}

.bird {
    height: 100px;
    width: 160px;
    position: fixed;
    top: 40vh; /* Positie van de vogel */
    left: 50%; /* Centreer de vogel horizontaal */
    transform: translateX(-50%); /* Compenseer de breedte van de vogel om perfect te centreren */
    z-index: 100;
}

.pipe_sprite {
    position: fixed;
    top: 40vh; /* Beginpositie van de pijpen, kan dynamisch worden ingesteld */
    left: 100vw; /* Pijpen starten buiten het zicht */
    height: 70vh;
    width: 6vw;
    background-image: url(obstacle.png); /* Achtergrondafbeelding voor pijpen */
}

.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 5vh;
    font-weight: 250;
    top: calc(50% - 5cm); /* Centreer het bericht verticaal */
    left: 50%; /* Centreer het bericht horizontaal */
    transform: translate(-50%, -50%); /* Compenseer de breedte en hoogte om perfect te centreren */
    text-align: center;
    color: white;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #2A3048;
    line-height: 1.5;
}

.message img {
    margin-top: 125px;
    width: 200px;
}

.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 5vh;
    font-weight: 100;
    color: white;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #2A3048;
    top: 5px; /* Plaatsing van de score */
    left: 10px; /* Plaatsing van de score */
}

.score_val {
    color: white;
}

.game-over-popup, .leaderboard-popup, .pause-popup {
    position: fixed;
    border-radius: 12px;
    top: 16vh; /* Plaatsing van de vensters */
    left: 50%; /* Centreer het venster horizontaal */
    transform: translateX(-50%); /* Compenseer de breedte van het venster */
    width: 512px; /* Brete van de UI background */
    height: 364px; /* Hoogte van de UI background */
    padding: 20px;
    background-image: url(uiBackground.png); /* Achtergrond voor de UI */
    background-size: cover; /* Zorg ervoor dat de achtergrondafbeelding de hele ruimte bedekt */
    color: #ffffff;
    font-family: 'Public Pixel', sans-serif;
    z-index: 1000; /* Hoog genoeg om boven andere elementen te staan */
    display: none; /* Verborgen totdat het spel afgelopen is */
}

.game-over-popup h1, .leaderboard-popup h1, .pause-popup h1 {
    margin-top: 15px;
    font-size: 40px;
    text-align: center;
    color: #FB6F2D;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
}

.score-display {
    margin-top: 25px;
    font-size: 30px;
    text-align: center;
    color: #862FE0;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2A3048;
    line-height: 1.5;
}

.buttons {
    margin-top: 100px;
    text-align: center; /* Centreer de knoppen */
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    background-image: url(buttonBackground.png);
    background-color: #4E4E4E;
    background-size: cover; /* Zorg ervoor dat de achtergrondafbeelding de hele knop bedekt */
    color: white;
    border-radius: 12px;
    cursor: pointer;
    width: 200px;
    height: 100px;
}

.buttons button:hover {
    opacity: 0.8; /* Hover-effect */
}

.leaderboard-popup {
    display: none; /* Verborgen totdat het leaderboard wordt getoond */
}

.pause-popup {
    display: none; /* Verborgen totdat het spel gepauzeerd is */
}

.pause-popup label {
    margin-top: 50px;
    font-size: 25px;
}

.pause-popup p {
    text-align: center;
    margin-top: 200px;
}

.music-toggle {
    text-align: center; /* Centreer de muziek toggle */
    line-height: 25px;
}

.hearts {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Hoog genoeg om zichtbaar te zijn */
}

.hearts img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

