* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bird {
    height: 100px;
    width: 160px;
    position: fixed;
    top: 40vh;
    left: 50%; /* Plaats de vleermuis in het horizontale midden */
    transform: translateX(-50%); /* Corrigeert de horizontale uitlijning */
    z-index: 100;
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-image: url(obstacle.png);
}

.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 5vh;
    font-weight: 250;
    color: white;
    font-family: 'Public Pixel', sans-serif;
    top: 16vh;
    left: 35vw;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
}

.message img {
    margin-top: 250px;
}

.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 5vh;
    font-weight: 100;
    color: white;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    top: 5px;
    left: 10px;
}

.score_val {
    color: white;
}
